# Built application files
*.apk
*.aab
*.ap_
*.ap

# Files for the ART/Dalvik VM
*.dex

# Built C/C++ libraries
*.so
*.a

# Android Studio IDE files
.idea/
.gradle/
local.properties
*.iml
.cxx/

# Build folders
/build
/app/build

# Web viewer build output
/web/dist
/web/node_modules

# Keystore files
*.keystore

# Crashlytics files
com_crashlytics_export_strings.xml

# Google services file
google-services.json

# macOS system files
.DS_Store

# Logs and temp files
*.log
*.tmp

# Gradle wrapper jar
gradle/wrapper/gradle-wrapper.jar
